@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@500&display=swap'); /* for countdown clock */
.header
{
    justify-content: space-between;
    height: 80px;
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    background-color: #fff;
    /* background-color: rgb(255, 255, 255); */
    /* border-bottom-width: 1px; */
    /* border-bottom-style: solid;
    border-bottom-color: rgba(0,2,47,1); */
    text-align: center;
    z-index: 1;
    opacity: 1;
}
.left-section
{
    z-index: 2;
    color: #FFF;
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: 30px;
}
.main-logo
{
    max-height: 45px;
    margin-right: 20px;
}
.main-content
{
    color:rgba(165,165,165,255);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.right-section
{
    list-style: none;
 
    color: #FFF;
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;    
    flex-shrink: 0;
    margin-right: 30px;
    flex-shrink: 1;
    /* display: none; */
}
a
{
    text-decoration: none;
    white-space: nowrap;
    font-size: 20px;
    color: rgba(165,165,165,255);
    font-family: 'Roboto Condensed', sans-serif;
}
li
{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    list-style: none;
    /* padding-left: 20px; */
    padding: 10px 10px;
    color: rgba(165,165,165,255);
}
.fullscreen
{
    color: #FFF;
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;    
    flex-shrink: 0;
    margin-right: 30px;
    /* display: none; */
}
.right-section li
{
    font-family: 'Noto Serif', serif;
    font-size: 15px;
}
.choose-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.choose-box:hover
{
    color: #8b3333;
    cursor: pointer;
    transition: 0.4s;
}
a:hover
{
    color: #8b3333;
    /* background: red; */
    cursor: pointer;
    transition: 0.4s;
}
.box1
{
    width: 5.5px;
    height:25px;
    /* margin-top:10px; */
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}
.box2
{
    width: 200px;
    height:5.5px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}
.choose-box:hover>.box1 .box2
{
    color: #8b3333;
    z-index: 2;
}
.box1:before
{
    content: "";
    position: absolute;
    left:0;
    top:0;
    /* bottom:0;
    left:0; */
    width:100%;
    height:100%;
    background: #8b3333;
    /* z-index: -1; */
    transition: transform 1s;
    transform-origin: bottom;
    transform-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.box2:before
{
    content: "";
    position: absolute;
    left:0;
    top:0;
    /* bottom:0;
    left:0; */
    width:100%;
    height:100%;
    background: #8b3333;
    /* z-index: -1; */
    transition: transform 1s;
    transform-origin: left;
    transform-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.btn1::before
{
    transform: scaleY(0);
}
.btn2::before
{
    
    transform: scaleX(0);
}

.choose-box:hover>.btn1::before
{
    transform:scaleY(1);
}
.choose-box:hover>.btn2::before
{
    transform: scaleX(1);
}
.dropdown
{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */

}
.dropdown-box
{
    display: flex;
    justify-content: center;
    position: relative;
}
.dropdown:hover>.dropdown-hover
{
    opacity: 1;
    display: flex;
    flex-direction: column;
    transition: opacity 0.15s;
    z-index: 2;
}

/* .dropdown-hover:hover .dropdown-hover
{
    opacity: 1;
    display: flex;
    flex-direction: column;
    transition: opacity 0.15s;
} */
.dropdown-hover
{
    opacity:0;
    transition: opacity 0.15s;
    background-color: #e2e8f0;
    position: absolute;
    display: none;
        /* display: flex;
        flex-direction: column; */
    margin-left: 10px;
    margin-top: 66px;
    padding: 10px 10px 15px 20px;
    z-index: 2;
    box-shadow: 8px 8px 16px 0px rgb(241 62 131 / 20%);
}

/* not-fullscreen *********************/
.not-fullscreen a
{
    color: #8b3333;
    font-size: 15px;
    white-space: nowrap;
}
.hamburger
{
    position: relative;
    display: none;
    cursor: pointer;
}
.menu
{
    /* transition: opacity 2s; */
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #e2e8f0;
    margin-left: 0px;
    margin-top: 25px;
    width: 250px;
    padding-bottom: 100%;
    right: -500px;
    transition: 0.5s;
    height: 100vh;
}
.menu li 
{
    padding-top: 10px;
}
.not-fullscreen .choose-box, .dropdown-angle
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: left;
    border: solid 1px ;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 8px 8px 8px 0px rgb(241 62 131 / 10%);
    /* flex-direction: row; */
}
/* .not-fullscreen .choose-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
} */

.bar
{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transform: all 0.3s ease-in-out;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

.dropdown2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}
.dropdown2 .choose-box
{
    margin: 0;
    margin-top: 5px;
}
.dropdown2-box
{
    height: 60px;
    position: relative;
}
.dropdown2-hover
{
    position: relative;
    opacity: 0;
    display: flex;
    flex-direction: column;
    background-color: #e2e8f0;
    padding-left: 40px;
    margin-top: -5px;
    width: 250px;
    padding-bottom: 100%;
    transition: 0.5s;
    height: 100vh;
}
/* .dropdown2-hover li
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    z-index: 2;
} */

#right-angle
{
    right: 0px;
    position: absolute;
    justify-content: flex-end;
    /* background-color: rebeccapurple; */
}


.fa-solid 
{
    width: 35px;
    color: #8b3333;
}
.fa-regular
{
    width: 35px;
    color: #8b3333;
}
/* .dropdown2:hover>.dropdown2-hover
{
    opacity: 1;
    display: flex;
    flex-direction: column;
    transition: opacity 0.15s;
} */
.angle-down-icon
{
    width: 15px;
    height: 15px;
    margin-left: 110px;
    color: red;
}
@media(max-width: 1000px) 
{
    .fullscreen
    {
        opacity: 0;
        pointer-events: none;
        transition: 0.5s;
        display: none;
    }
    .hamburger{
        display: block;
    }
    .hamburger:hover
    {
        opacity: 0.8;
    }
    .hamburger.active .bar:nth-child(2)
    {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1)
    {
        transform:  translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3)
    {
        transform:  translateY(-8px) rotate(-45deg);
    }
    .menu.active
    {
        position: fixed;
        display: flex;
        flex-direction: column;
        right: 0px;
        height: 100pc;
        /* transform: 3s; */
    }
    .dropdown2-hover.active
    {
        opacity: 1;
    }
    .fa-solid fa-angle-down.active
    {
        transform: rotate(90deg);
    }
}
/* .bar:hover 
{
    animation: rotate-oj 0.5s linear infinite;
} */
/* @media */
.background-image
{
    margin-left: -10px;
    margin-top: -10px;
    max-width: 1520px;
}
/* countdown clock *********************************/
@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@500&display=swap');

.countdown_clock
{
    margin-top: 100px;
    margin-left: -70px;
    font-family: 'Podkova', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1
{
    font-weight: lighter;
    font-size: 10px;
    margin: -15px 0 4px;
}

.countdown
{
    display: flex;
}

.time 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.time h2
{
    font-weight: bold;
    font-size: 36px;
    color: #4e4a4a;
    line-height: 1;
    margin: 0 0 5px;
    border: solid #200343;
    border-radius: 100px;
    border-color: #7F1D1D;;
    padding: 12px;
}

@media (max-width: 500px)
{
    h1
    {
        font-size: 45px;
    }
    .time
    {
        margin: 5px;
    }
    .time h2
    {
        font-size: 12px;
    }
    .time small
    {
        font-size: 10px;
    }
}
/* ******************************** */
/* *
{
    padding: auto;
    margin: 0;
}
ul
{
    list-style: none;
    background: rgba(0,2,47,1);
}
ul li
{
    display: inline-block;
    position: relative;
}
ul li a
{
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: right;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
ul li ul.dropdown li
{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
}
ul li ul.dropdown
{
    width: 100%;
    background: rgba(0,2,47,1);
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover
{
    opacity: 0.6;
}
ul li:hover ul.dropdown
{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
}  */


@layer components{
    .number{
        @apply text-right font-extrabold text-8xl font-montserrat text-pink-900
    }
    .number-r{
        @apply text-left font-extrabold text-8xl font-montserrat text-amber-800
    }
    .counting-items{
        @apply p-2
    }
    .counting-items-right{
        @apply p-2 text-left
    }
}